RewriteEngine On

# Do not rewrite if the URL starts with /public/
RewriteCond %{REQUEST_URI} !^/public/

# Rewrite all other requests to redirect them to public/index.php
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]
