/* Styles for the heading 2 element */
h2 {
    text-align: center;
    background-color: #c0e3e3; 
    padding: 10px;
}

/* Styles for form elements */
form {
    width: 50%;
    margin: 0 auto; 
    padding: 20px;
}

/* Styles for input and textarea elements */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styles for submit button */
input[type="submit"] {
    background-color: #c0e3e3; 
    color: #333; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styles for navigation bar */
nav {
    background-color: #8b4513; 
    padding: 0.3em  1em;
}

/* Styles for unordered list in navigation */
ul {
    list-style: none;
    display: flex;
}

/* Styles for list items in navigation */
li {
    margin: 0 1em; 
}

/* Styles for anchor links in navigation */
li a {
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;
    color: white; 
    background-color: #654321; 
    border-radius: 5px;
}

/* Hover styles for anchor links in navigation */
li a:hover {
    background-color: #996633; 
}

/* Active state style for navigation */
.active {
    color: red;
}

/* Styles for internal links */
.internal_link {
    display: block;
    text-align: center;
    text-decoration: none; 
    padding: 10px 20px; 
    background-color: #0077b5; 
    color: #fff; 
    border-radius: 5px; 
    margin: 0 auto; 
    width: 100px; 
    height: 30px; 
}

/* Hover styles for internal links */
.internal_link:hover {
    background-color: #00558e; 
    color: #fff;
}

/* Styles for profile section */
.profil {
    width: 50%;
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Media queries for small screens */
@media only screen and (max-width: 600px) {
    li {
        margin: 0.5em 0; /* Reduce spacing between navigation elements */
    }

    li a {
        padding: 0.5em 1em; /* Reduce button size */
    }
}

/* Media queries for medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    li a {
        padding: 0.7em 1.5em; /* Adjust button size */
    }
}

/* Media queries for large screens */
@media only screen and (min-width: 1025px) {
    li a {
        padding: 1em 2em; /* Adjust button size */
    }
}

/* Styles for the global container of the carousel */
.carousel {
    position: relative;
    display: flex;
    flex-direction: column; /* Elements are stacked vertically */
    align-items: center; /* Center elements horizontally */
}

/* Styles for carousel items */
.carousel-item {
    position: relative;
    display: none;
}

/* Styles for images inside the carousel */
.carousel-item img {
    width: 70%; /* Adjust image width to 70% of window width */
    height: auto; /* Automatic height to maintain aspect ratio */
    max-height: 70vh;
    display: block; /* Allow centering the image horizontally */
    margin: 0 auto; /* Center the image horizontally */
    padding-bottom: 0.2em;
}

/* Styles for navigation controls */
.carousel-controls {
    display: flex;
    justify-content: center; 
}

/* Styles for previous and next controls */
.carousel-control-prev,
.carousel-control-next {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0077b5;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin: 0 10px; 
    cursor: pointer; 
}

/* Hover styles for previous and next controls */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 0.9;
}

/* Styles for the contact section */
.contact-section {
    margin-left: 20em;
    margin-right: 20em;
    margin-top: 10em;
    margin-bottom: 20em;
    padding: 5em;
    border: solid 1px #0077b5;
}

/* Styles for active contact section */
.contact-active {
    background-color: #8b4513;
    color: white;
}
