
h2 {
    text-align: center;
    background-color: #c0e3e3; 
    padding: 10px;
}
  

form {
    width: 50%;
    margin: 0 auto; 
    padding: 20px;
}
  

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
  
input[type="submit"] {
    background-color: #c0e3e3; 
    color: #333; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  

nav {
    background-color: #8b4513; 
    padding: 0.3em  1em;
}
  
 
ul {
    list-style: none;
    display: flex;
}


li {
    margin: 0 1em; 
}

li a {
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;
    color: white; 
    background-color: #654321; 
    border-radius: 5px;
}
  
li a:hover {
    background-color: #996633; 
}

.active {
    color: red;
}

.internal_link {
    display: block;
    text-align: center;
    text-decoration: none; 
    padding: 10px 20px; 
    background-color: #0077b5; 
    color: #fff; 
    border-radius: 5px; 
    margin: 0 auto; 
    width: 100px; 
    height: 30px; 
}
  
.internal_link:hover {
   background-color: #00558e; 
   color: #fff; 
}

.profil {
    width: 50%;
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styles pour les écrans de petite taille */
@media only screen and (max-width: 600px) {
    li {
        margin: 0.5em 0; /* Réduire l'espacement entre les éléments de la navigation */
    }

    li a {
        padding: 0.5em 1em; /* Réduire la taille des boutons */
    }
}

/* Styles pour les écrans de taille moyenne */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    li a {
        padding: 0.7em 1.5em; /* Ajuster la taille des boutons */
    }
}

/* Styles pour les écrans de grande taille */
@media only screen and (min-width: 1025px) {
    li a {
        padding: 1em 2em; /* Ajuster la taille des boutons */
    }
}

/* Style pour le conteneur global du carousel */
.carousel {
    position: relative;
    display: flex;
    flex-direction: column; /* Les éléments sont empilés verticalement */
    align-items: center; /* Centrer les éléments horizontalement */
}

.carousel-item {
    position: relative;
    display: none;
}

/* Style pour les images à l'intérieur du carousel */
.carousel-item img {
    width: 70%; /* Ajuster la largeur de l'image à 70% de la largeur de la fenêtre */
    height: auto; /* Hauteur automatique pour maintenir le ratio d'aspect */
    max-height: 70vh;
    display: block; /* Permettre de centrer l'image horizontalement */
    margin: 0 auto; /* Centrer l'image horizontalement */
    padding-bottom: 0.2em;
}


/* Style pour les contrôles de navigation */
.carousel-controls {
    display: flex;
    justify-content: center; /* Centrer les boutons horizontalement */
}

.carousel-control-prev,
.carousel-control-next {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0077b5;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin: 0 10px; /* Ajouter un espacement entre les boutons */
    cursor: pointer; /* Curseur pointer pour indiquer l'interactivité */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 0.9;
}

.contact-section {
    margin-left: 20em;
    margin-right: 20em;
    margin-top: 10em;
    margin-bottom: 20em;
    padding: 5em;
    border: solid 1px #0077b5;
}

.contact-active {
    background-color: #8b4513;
    color: white;
}